﻿@model HackthonIdea.Web.Models.HackIdeaModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Idea";
}


<div class="container p-3 my-3 border">
    <h1> @ViewBag.PageName</h1>

    <div class="row">
        <div class="col-sm-6">
            <hr />
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (@ViewBag.IsEdit)
                {
                    <input type="hidden" asp-for="IdeaId" />
                    <input type="hidden" asp-for="IsActive" />
                    <input type="hidden" asp-for="EmpId" />
                    <input type="hidden" asp-for="CreationDate" />
                }
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="TagId" class="control-label"></label>
                    <select asp-for="TagId" class="form-control">
                        <option value=null>--</option>
                        @foreach (var tag in ViewBag.tags)
                        {
                             <option value=@tag.TagId>@tag.TagName</option>
                        }
                    </select>
                    @*<select  asp-items="@ViewBag.tags"></select>*@
                    @*<input asp-for="TagId" class="form-control" />*@
                    <span asp-validation-for="TagId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <a class="btn btn-danger" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>