﻿@using HackthonIdea.Web.Models
@model List<HackIdeaModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Title/Description: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Idea ID
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Tag
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UpVoteSortParm"]">Upvote Count</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Created Date</a>
            </th>
            <th></th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.IdeaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.TagName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.UpVote)<a asp-action="Upvote" asp-route-ideaId ="@item.IdeaId"> <img style="margin-bottom:10px;" width="20px" height="20px" src="~/images/blue-thumbs-up.png" alt="upvote" > </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.CreationDate)
                </td>
                 <td class="text-center">
                    <a asp-action="AddOrEdit" class="btn btn-outline-primary"  asp-route-ideaId ="@item.IdeaId">Edit</a>
                </td>
                <td class="text-center">
                    <a asp-action="DeleteIdea" class="btn btn-outline-danger" asp-route-ideaId ="@item.IdeaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
