﻿@model HackthonIdea.Web.Models.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log In";
}
<div class="container p-3 my-3 border">
    <h2>Register Employee</h2>
    <div class="row">
        <div class="col-sm-6">
             <hr />
            @if (ViewBag.IsInvalid)
            {
                <div>Username or Password is Invalid</div>
            }
            <form asp-action="LogIn">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-group">
                    <label asp-for="Username" class="control-label">User Name:</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Password" class="control-label">Password:</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="LogIn" />
                    @*<a class="btn btn-danger" asp-action="Index">Back</a>*@
                </div>

             </form>
        </div>
        <div class="col-sm-6 text-right">
            <a asp-action="Register" class="btn btn-secondary"> Sign-Up </a>
        </div>
    </div>
</div>
